.input{
    display:flex;
    height: 3em;
    flex: 1;
    background-color: #262626;
    outline:1px solid #888;
    color:#e6dbc9;
    justify-content: flex-end;
    padding-right: 20px;
    font-weight: lighter;
    font-size: 1.4em;
    align-items: center;
    overflow:auto;
}