.App{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100hv;
  width:100%; 
  background-color: #393f4d
}
.calc-wrapper{
  width:50%;
  height:50%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.row{
  display:flex;
  width:100%;
}